<div class="container mb-2 mt-2">
  <div class="row">
    <div class="col-sm-12 col-md-12 mb-2">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2" style="border-bottom:2px solid #efefef">
            <h2 class="p-2">Provide Details for Payment</h2>
          </div>

          <form #paymentForm="ngForm" (ngSubmit)="SubmitPayment(paymentForm.value)">
            <input type="hidden" class="col-sm-7 form-control" name="currentUserId" [(ngModel)]="currentUserId">
            <div class="row">
              <div class="col-lg-12 mt-1">
                <div class="row m-0 p-0 form-group input-group-sm mt-1">
                  <label class="col-lg-3 p-0" for="username">User Name:<span class="red">*</span></label>
                  <input type="text" class="col-lg-9 form-control" placeholder="Enter the User Name" name="username" #uname="ngModel" [(ngModel)]="userName" required>
                </div>
                <span [hidden]="uname.valid || uname.pristine" class="text-center offset-3">
                  <span [hidden]="!uname.errors?.required" class="red fontsize">
                    User Name is required. <br />
                  </span>
                </span>
              </div>

              <div class="col-lg-12 mt-1">
                <div class="row m-0 p-0 form-group input-group-sm mt-1">
                  <label class="col-lg-3 p-0" for="email">Email Id:<span class="red">*</span></label>
                  <input type="text" class="col-lg-9 form-control" placeholder="Enter the email" name="email" #email="ngModel" [(ngModel)]="emailId" required>
                </div>
                <span [hidden]="email.valid || email.pristine" class="text-center offset-3">
                  <span [hidden]="!email.errors?.required" class="red fontsize">
                    Email is required. <br />
                  </span>
                </span>
              </div>

              <div class="col-lg-12 mt-1">
                <div class="row m-0 p-0 form-group input-group-sm mt-1">
                  <label class="col-lg-3 p-0" for="cost">Cost:<span class="red">*</span></label>
                  <input type="text" class="col-lg-9 form-control" placeholder="Enter the cost" name="cost" #cost="ngModel" (ngModel)="cost" required>
                </div>
                <span [hidden]="cost.valid || cost.pristine" class="text-center offset-3">
                  <span [hidden]="!cost.errors?.required" class="red fontsize">
                    cost is required. <br />
                  </span>
                </span>
              </div>

            </div>
            <br />
            <div class="row  text-center">
              <div class="text-center pl-2 justify-content-center form-group ">
                <button type="submit" class="btn btn-primary btn-block  text-center" [disabled]="!paymentForm.valid"><i class="fa fa-paypal"></i> Pay using Paypal</button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>

    
  </div>
</div>
