<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Payment</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <!--<li class="nav-item"
      [routerLinkActive]="['link-active']"
      [routerLinkActiveOptions]="{ exact: true }">
    <a class="nav-link text-dark" [routerLink]="['/home']">Home</a>
  </li>
  <li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-dark" [routerLink]="['/counter']">Counter</a>
  </li>
  <li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Fetch data</a>
  </li>-->

          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="!isAuthenticated">
            <a class="nav-link text-dark" [routerLink]="['/']">Login</a>
          </li>
          <!--<li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isAuthenticated">
    <a class="nav-link text-dark">Hello, {{userName}}</a>
  </li>-->
          <!--<li class="dropdown" *ngIf="isAuthenticated">
    <button class="dropbtn">
      Hello, {{userName}}
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a *ngIf="isAuthenticated" class=" pointer txthover" (click)="logout()"><i class="fa fa-power-off ficoncolor m-0"></i><span class="ml-3">Logout</span></a>
    </div>
  </li>-->
          <!--<li class="dropdown" *ngIf="isAuthenticated">
    <a class="dropdown-toggle" data-toggle="dropdown" >
      Hello, {{userName}}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a *ngIf="isAuthenticated" class=" pointer txthover" (click)="logout()"><i class="fa fa-power-off ficoncolor m-0"></i><span class="ml-3">Logout</span></a></li>
    </ul>
  </li>-->

          <li class="nav-item dropdown" *ngIf="isAuthenticated">
            <a class="nav-link txtblack">Hello, {{userName}}<span class="caret"></span></a>
            <div class="dropdown-menu lidropdown">
              <a  class=" pointer txthover" (click)="logout()"><i class="fa fa-power-off ficoncolor m-0"></i><span class="ml-3">Logout</span></a>
            </div>
          </li>
        </ul>
        
      </div>
      </div>
  </nav>
</header>
